@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Londrina+Outline&display=swap');
body{
font-weight: 500;
overflow-y: hidden;
background-image: linear-gradient(75deg,rgb(26, 26, 26),rgb(62, 75, 78),rgb(50, 45, 61));
}
.header{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.container{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.clock{
	font-family: "Londrina Outline", sans-serif;
	width: 800px;
	height: 250px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.clock > div{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
span{
	width: 200px;
	padding: 10px;
	background-image: linear-gradient(180deg,rgba(8, 8, 8, 0.826), rgba(24, 24, 24, 0.701));
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.584);
	color: white;
	height: 250px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 250px;
}
.num{
	margin: 2px;
}
@media (max-width: 640px) {
	.container{
		margin-top: 80px;
		align-items: start;
	}
	.clock{
		flex-direction: column;
	}
}
